<h2 class="page-header">
    <div class="event-header-text">
        <p>All Events</p>
    </div>
</h2>



<% for (event of events){%>
    <div class="post-container">
        <header class="user-profile">
            <img class= "avatar" src="<%=event.profile_pic%>" alt=""> 
    
            <a class="post-title-event" href="/events/<%= event.id %>">
                <%= event.event_title %>
            </a>
            <div class="right-side">
                <h3><%= event.user_name%></h3>
                <small>Oct 9 2024</small>
            </div>
        </header>
        <div>
            <img class= "card_img" src="<%= event.image_url%>" alt="">
        </div>
        <footer>
            <form class="footer-text" action="/events/<%= event.id %>?_method=DELETE" method="POST">
                <button>Delete</button>
            </form>
            <form class="footer-text" action="/events/<%= event.id %>/edit">
                <button>Edit</button>
            </form>
        </footer>
    </div>
<%}%>

<form class="form-btn-event" action="/events/new">
    <button class="form-btn" >Create an Event </button>
</form>