<h1>Events</h1>

<h2><%= event.event_title %></h2>

<p>
    <img src="<%= event.image_url %>" alt="">

</p>

<p>
<%= event.location %>
</p>

<p>
<%= event.description%>
</p>

<p>
    Event type: <%= event.category%>
</p>

<p>
<%= event.attendees %>
</p>



