<h2 class="page-header">
    <div class="event-header-text">
        <p>Event Details</p>
    </div>
</h2>

<div class="shop-card">
    <header class="shop-banner">
        <h3><%= event.event_title %></h3>
    </header>
    <img src="<%= event.image_url %>" alt="">
    <h3 class="shop-name"><%= event.description%></h3>
    <small>
        <%= event.location %>
    </small>
    <footer>
        <!-- need to fix -->
        <span class="footer-text"> Event type: <%= event.category%>
        </span>
        <span class="footer-text">
            <%= event.attendees %>
        </span>
    </footer>
</div>