<% for (post of posts){%>
    <div class="post-container">
        <header class="user-profile">
            <img  class= "avatar" src="<%=post.profile_pic%>" alt=""> 

            <a class= "post-title" href="/posts/<%= post.id %>">
                <%= post.title %>
            </a>
            <div class="right-side">
                <h3><%= post.user_name%></h3>
                <small>Oct 10 2024</small>
            </div>
        </header>
        <div>
            
            <img class= "card_img" src="<%= post.image_url%>" alt="">
        </div>
        <footer>
            <span class="footer-text">Like ❤️ </span>
            <span class="footer-text">Comment</span>
        </footer>
    </div>
<%}%>












