
<div class="post-container">
  <header class="user-profile">
      <img  class= "avatar" src="<%=post.profile_pic%>" alt=""> 

      <a class= "post-title" href="/posts/<%= post.id %>">
          <%= post.title %>
      </a>
      <div class="right-side">
          <h3><%= post.user_name%></h3>
          <small>Oct 10 2024</small>
      </div>
  </header>
  <div>
      
      <img class= "card_img" src="<%= post.image_url%>" alt="">
  </div>
  
  <div class="comment-box">
    <h3><%= post.description%></h3>
    <div class="post-comment">
      <form action="/comments" method="post">
        <input type="hidden" name= "post_id" value = "<%= post.id %>">
        <p>
          <label class="com-title" for="">Post a comment below</label>
        </p>
        <p>
          <textarea lass= "comment-input" name="content" id=""></textarea>
        </p>
        <p>
          <button class="post-com-btn">post comment</button>
        </p>
      </form>
    </div>
    <% for(let comment of comments){%>
      <div class="comment-section">
        <h4><%= comment.content%></h4>
        <small><%= comment.email%></small>
      </div>
    <% } %>
  </div>