

<h1><%= user.user_name %></h1>


<p>
    This is me!
    <img src="<%= user.profile_pic %>" alt="">

</p>

<p>
    This is my dog!
    <img src="<%= user.pet_pic %>" alt="">
</p>


<p>
    I joined FetchMate to: <%= user.category%>
</p>


<div class="edit_delete">
    <form action="/profile/<%=user.id%>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>
    <form action="/profile/<%=user.id%>/edit">
        <button type="submit">Edit Profile</button>
      </form>

</div>

