
<h2 class="page-header">
    <div class="event-header-text">
        <p>Check out some local spots!</p>
    </div>
</h2>
<% for (place of places){%>


    <div class="shop-card">
        <header class="shop-banner">
            <h3><%= place.name %></h3>
        </header>
        <img src="<%= place.store_pic%>" alt="">

        <h3 class="shop-name"><%= place.services%></h3>
        <small>
            <%= place.location %>
        </small>
       <footer>
            <span class="footer-text-snp"> This location is rated at <%= place.rating %> stars⭐️
            </span>
           
        </footer>
    </div>
<%}%>